@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poopins", sans-serif;
}

.container {
  background-color: #000;
  color: #fff;
  margin: 6rem auto;
  width: 40%;
  padding: 2rem;
  border-radius: 10px;
}

.weather-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  border: none;
  background: #1e1e1e;
  outline: none;
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

input::placeholder {
  color: #fff;
}

.weather-search {
  position: relative;
}

.weather-search i {
  position: absolute;
  left: 10px;
  top: 8px;
  font-size: 15px;
  color: #fff;
}

.weather-units {
  font-size: 1.5rem;
}

.weather-units span {
  cursor: pointer;
}

.weather-units span:first-child {
  margin-right: 0.5rem;
}

.weather-body {
  text-align: center;
}

.loc-time {
  margin-top: 2.4rem;
  margin-bottom: 2rem;
}

.loc-time-description {
  font-size: 12px;
  margin-top: 0.5rem;
}

.btn {
  border: none;
  background-color: #1e1e1e;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

.weather-forecast-img img {
  width: 100px;
}

.temp-number {
  font-size: 1.2rem;
  margin: 0.5rem;
}

.min-max {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  margin-bottom: 2.4rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.grid-items {
  background-color: #1e1e1e;
  border-radius: 5px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  padding: 10px;
}

.grid-items i {
  /* width: 24px;
  height: 24px; */
}

.real {
  font-size: 12px;
  margin-bottom: 3px;
}

.temp-deg {
  font-size: 12px;
}

/* Responsive css */

@media (max-width: 936px) {
  .container {
    width: 90%;
  }

  .weather-header {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
